.constructor {
  display: grid;
  height: 88vh;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100%;
  gap: 0px 0px;
  /* grid-auto-flow: row; */
  grid-template-areas: "c-left-part c-left-part c-registerEditor";
  /* background-color: darkgray; */
}

.c-left-part {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.65fr 0.35fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "c-registerViewer"
    "c-answerEditor";
  grid-area: c-left-part;

  /* background-color: aqua; */
}

.c-registerViewer {
  grid-area: c-registerViewer;
  /* border: 2px solid gray; */
  /* background-color: rgb(204, 208, 212); */
}

.c-answerEditor {
  grid-area: c-answerEditor;

  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  /* background-color: rgb(212, 191, 177); */
}

.c-registerEditor {
  grid-area: c-registerEditor;
  border: 2px solid gray;
  /* background-color: rgb(184, 218, 177); */
}
