.constructor {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "c-menu c-main c-main";
  height: 100%;
}

.c-menu {
  grid-area: c-menu;
}

.c-main {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "c-viewerAndAnswerField c-registerEditorField";
  grid-area: c-main;
}
.c-viewerAndAnswerField {
  grid-area: c-viewerAndAnswerField;
}
.c-registerEditorField {
  grid-area: c-registerEditorField;
}
